@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

body {
    font-family: 'Orbitron', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #ffcc00, #ff6666, #9933ff);
    color: #333;
    transition: background 0.5s ease;
}

.container {
    width: 80%;
    max-width: 400px;
    margin: auto;
}

header {
    background-color: rgba(51, 51, 51, 0.3); /* Adicionando transparência */
    color: #fff;
    justify-content: space-around; /* Distribui o espaço entre os elementos filhos */
    align-items: center; /* Centraliza verticalmente os elementos filhos */
    text-align: center;
    padding: 20px 0;
    border-radius: 20px 0 20px 20px;
}

header img {
    max-width: 100px; /* Defina a largura máxima da imagem */
    height: auto; /* Mantém a proporção da imagem */
    margin: auto;
    border-radius: 20px;
    transition: transform 0.5s ease;
}
/* quero que a imagem mude de tamanho se eu passo o ponteiro em cima*/
header img:hover {
    transform: scale(1.1);
}

header h1 {
    margin: auto; /* Adiciona um espaçamento à esquerda do título para separá-lo do logotipo */
    color:#ffcc00;
}

main {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px 20px 20px 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="password"] {
    font-size: 16px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    transition: border-color 0.3s ease;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group input {
    margin-bottom: 10px;
}

.button-group {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    width: 100%;
}

.button-group input[type="button"] {
    flex: 1;
    margin: 5px;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-group #entrar {
    width: 150px;
    background-color: #ff6666;
    color: #fff;
}

.button-group #cadastrar {
    width: 150px;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    header img {
        max-width: 80px; /* Ajuste para telas menores */
    }

    header h1 {
        font-size: 18px; /* Ajuste para telas menores */
    }

    input[type="button"] {
        font-size: 14px;
        padding: 10px 20px;
        width: 150px;
    }
}
